$font-stack: "Poppins", sans-serif;
$brand-color: #47da54;
$secondary-color: #3fbf3f;
$logo-font: "Lobster", cursive;

body {
  font: 100% $font-stack;

  a {
    color: black;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #47da54;

  .logo {
    font-family: "Lobster", cursive;
    font-size: 70px;
    color: white;
    padding: 24px;

    a {
      color: white;
    }
  }

  .barra {
    width: 45%;

    input {
      border-radius: 50px;
      border: none;
      width: 90%;
    }

    form {
      width: 100%;
    }
  }

  .carrito {
    width: 15%;

    img {
      width: 150%;
    }
  }

  .searchbar {
    margin: 15px;
    font-size: 18px;
    padding: 12px;
  }

  button {
    margin: -60px;
    border: none;
    background: white;
    font-size: 1.5em;
  }
}

.contenedor {
  display: flex;
  justify-content: space-around;
  background-color: #47da54;
  font-size: 22px;

  a {
    color: white;
    background-color: #47da54;
  }

  li {
    background-color: #47da54;
  }

  .navegacion ul {
    list-style: none;
  }

  .menu > li {
    position: relative;
    display: inline-block;
  }

  .menu > li > a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: #3fbf3f;
    border-radius: 50px;
    transition: all 0.3s;
  }

  .submenu {
    position: absolute;
    width: 180%;
    display: none;
    left: 10px;
  }

  .submenu a {
    font-size: 16px;
  }

  .submenu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  .menu li:hover .submenu {
    display: block;
  }
}

.gral-contact {
  h1 {
    color: $brand-color;
    margin: 12px;
  }
}

.contact {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;

  .contact-items {
    width: 20%;
    line-height: 1.5em;
    p {
      padding: 6px;
      margin: 6px;
    }

    .contact-info {
      margin-left: 12px;
    }
  }

  .form-block {
    width: 40%;

    input {
      width: 95%;
      margin-bottom: 6px;
      padding: 5px;
      font-size: 16px;
    }
    textarea {
      width: 95%;
      margin-bottom: 6px;
      padding: 5px;
      font-size: 16px;
    }

    button {
      width: 95%;
      background: #47da54;
      padding: 5px;
      border: none;
      border-radius: 50px;
      margin-bottom: 24px;
      margin-top: 6px;
      color: white;
      font-size: 19px;
      font-weight: 600;
    }
  }
}

hr {
  height: 1px;
  background: lightgray;
  border: none;
  margin: 0px 100px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 24px;

  .left-footer {
    width: 240px;
    padding: 24px;
  }

  .delivery {
    width: 100%;
  }

  .central-footer {
    width: auto;
    padding: 24px;
  }

  .right-footer {
    padding: 24px;
    width: auto;
  }

  .list-enlaces {
    list-style-type: none;
  }

  .redes-sociales h3,
  .list-enlaces h3,
  .info-links h3 {
    color: $brand-color;
  }
}

.footer-bottom {
  background: $brand-color;
  padding: 12px;
  text-align: center;
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .barra {
    input {
      display: none;
    }
  }

  .barra button {
    display: none;
  }
  .contenedor {
    font-size: 20px;
  }

  .banner {
    padding: 0px;
  }

  .tienda-box {
    .tarj-prod {
      width: 60%;
    }
  }
}
