* {
  margin: 0px;
  padding: 0px;
}


#top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(192, 245, 86);
 
}

.barra img {
  width: 20%;
}

.barra input {
  border-radius: 8px;
  
}

.carrito img {
  width: 10%;
}


.searchbar {
  margin: 15px;
  size: 50;
  font-size: 20px;
  padding: 12px 70px;
}

.red-soc {
  width: 5%;
}

.red-soc img {
  width: 38%;
  display: inline;
}

.children  {
  display: list-item;
  list-style-type: none;
  margin: 0px 20px;
}