* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
a:visited 
{
    text-decoration: none; 
}


#top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #47DA54;
 
}

.logo  {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  color: white;
  padding: 24px;
}

.barra {
  width: 40%;
}

.barra input {
  border-radius: 8px;
  
}

.carrito {
  width: 15%;

}

.carrito img {
  width: 150%;
}


.searchbar {
  margin: 15px;
  size: 50;
  font-size: 20px;
  padding: 12px 70px;
}

.red-soc {
  width: 5%;
}

.red-soc img {
  width: 38%;
  display: inline;
}

.children  {
  display: list-item;
  list-style-type: none;
  margin: 0px 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 12px;
  background-color: #47DA54;
}


.hamburger {
  display: flex;
  background: #47DA54;
  color: white;
  text-align: left;
  width: 30%;
  }

.hamburger li {
  list-style: none;
}


.boton-hamb {
  display: flex;
  align-items: center;
}

.categorias img {
  width: 36px;
  padding: 0px 6px;
}

.categorias li {
  position: relative;
}

.categorias ul {
  display: none;
  position: relative;
  background: #47DA54;
  height: auto;
}

.categorias li:hover ul {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 100%; left: 0;
}

.categorias li:hover ul ul {
  display: none;
}

.categorias li ul li ul {
  display: none;
  height: auto;
  background: #47DA54;
}

.nav-sections li {
  display: inline-block;
  color: white;
  padding: 12px 6px;
  font-size: 24px;
  font-weight: 500;
}

.nav-sections a {
  color: white;
}

.categorias a {
  color: white  ;
}

  
.children a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}


.banner {
  text-align: center;
  background-image: url(../img/granos_varios_rec.jpg);
  color: white;
  padding: 120px;
  background-size: cover;
}

.titulo-boton {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.banner h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 64px;
}
.boton-comprar {
  background: #47DA54;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  margin-bottom: 64px;
  color: white;
}

.beneficios {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  margin: 12px 0px; 
  padding: 24px;
}

.conteiner-tarj-benef {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0px 12px;

}

.destacados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 48px;
}

hr {
  height: 1px;
  background: lightgray;
  border: none;
  margin: 0px 100px;
}

.aside-box {
  padding: 5px;
}

.conteiner-tarj-benef img {
  width: 110%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
}

.left-footer {
  width: 240px;
  padding: 24px;
}

.delivery {
  width: 100%;
}

.central-footer {
  width: auto;
  padding: 24px;
}

.right-footer {
  padding: 24px;
  width: auto;
}

.list-enlaces {
  list-style-type: none;
}


.redes-sociales h3 {
color: #47DA54;
}

.a-links h3 {
color: #47DA54;
}

.footer-bottom {
  background: #47DA54;
  padding: 12px;
  text-align: center;
  color: white;
  font-weight: 500;
}